:root {
  --bg-dark: #000; 
  --gold: #D4AF37;     
  --gold-hover: #FFD700; 
  --text-light: #F5F5F5;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-dark);
  z-index: 1000;
}


.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  color: #d4af37;
  font-family: 'Georgia', serif;
  padding: 10px
}

.logo-main {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.logo-sub {
  font-size: 1rem;
  letter-spacing: 3px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: var(--text-light);
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
  position: relative;
}

.nav-links li a:hover {
  color: var(--gold-hover);
}

/* Efecto subrayado dorado */
.nav-links li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--gold);
  transition: width 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--gold);
  margin: 5px 0;
  transition: 0.4s;
}

.bar.open:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: var(--gold-hover);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: var(--gold-hover);
}


@media (max-width: 1047px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: var(--bg-dark);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    transition: right 0.5s ease;
    z-index: 1000;
    border-left: 2px solid var(--gold);
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .nav-links li a {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
  }

  .nav-links li a:hover {
    color: var(--gold-hover);
    background-color: rgba(212, 175, 55, 0.1);
  }
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .menu-overlay.active {
    opacity: 1;
    visibility: visible;
  }
  
  .nav-links {
    z-index: 999;
  }
  
  .no-scroll {
    overflow: hidden;
  }
  
}